body {
    height: 100vh;
}

table {
    width: 100%;
    padding-bottom: 20em;
}

.hidden {
    display: none;
}

.container {
    width: 100vw;
}

.icon {
    vertical-align: sub;
}

#logo {
    width: 4em;
}

.courier {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


#footer {
    margin-left: -1em;
}

.is-float-right {
    float: right;
}